checkpoints/
libtorch1.13/
data/
Inference/.vs/
Inference/x64/
Inference/**.sln
Inference/**.json
Inference/**.vcxproj
Inference/**.vcxproj.filters
Inference/**.users
Inference/**.dll
Inference/**.aps
training/__pycache__/
**/__pycache__/



